header {
  background-color: #333;
  display: flex;
  
}


.container {
  display: flex;
  padding: 1em;
}

  

  .buttons {
    display: flex;
    align-items: center;
  }

.button {
  padding: 1em;
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  outline: none;
}

.button:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  border-bottom: 2px solid transparent;
}

.button:hover:after {
  border-color: white;
}



.button:hover {
  color: white;
}
